{% extends 'AmapMainBundle::layout.html.twig' %}

{% block content %}


    <h1>Une erreur est survenue</h1>
    <h2>Message du serveur : "{{ status_code }} {{ status_text }}".</h2>

{% endblock %}
