{% extends 'AmapMainBundle::layout.html.twig' %}

{% block content %}


    <h1>Accès refusé !</h1>
    <p>{{ exception.message }}</p>
    <!--<p>Message du serveur : "{{ status_code }} {{ status_text }}".</p>-->
    
{% endblock %}
