/web/bundles/
/web/media/cache
/web/uploads
/web/css/
/web/js/
/web/img/
/web/images/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

/build/
/vendor/
/bin/
/composer.phar
