<div>
	<ul>
		<li>
			<a href="{{path('home')}}">
				Home
			</a>
		</li>
		<li>
			<a href="{{path('blog')}}">
				Blog
			</a>
		</li>
		<li>
			<a href="{{path('delivery')}}">
                Nos Paniers
            </a> 
		</li>
		<li>
			<a href="{{path('contact')}}">
			    Contact
			</a>
		</li>
	</ul>
	
	<span id="signature">Réalisé par <a target="_blank" href="http://www.arthurhall.fr/">Arthur Hall</a></span>
</div>