{% extends 'AmapMainBundle::layout.html.twig' %}

{% block title %}
    {{parent()}}
    - Le Blog
{% endblock %}

{% block content -%}

    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}"><i class="icon-home"></i> Home</a> <span class="divider">></span></li>
        <li><a href="{{ path('blog') }}">Blog</a></li>
    </ul>
    
    {% include 'AmapBlogBundle:Article:_list.html.twig' with {'options': {'delete': false, 'list': false}} %}
    
{% endblock %}
