{% extends 'AmapMainBundle::layout.html.twig' %}

{% block title %}
    {{parent()}}
    - Nos Paniers
{% endblock %}

{% block content -%}

    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}"><i class="icon-home"></i> Home</a> <span class="divider">></span></li>
        <li><a href="{{ path('delivery') }}">Nos Paniers</a> </li>
    </ul>
    
    {% include 'AmapPanierBundle:Delivery:_list.html.twig' %}
    

{% endblock %}
