{% extends "knp_menu.html.twig" %}


{% block list %}
	{% import "knp_menu.html.twig" as macros %}
	 
	{% set is_dropdown = listAttributes.dropdown|default(false) %}
	{% set divider_prepend = listAttributes.divider_prepend|default(false) %}
	{% set divider_append = listAttributes.divider_append|default(false) %}
	 
	{# unset bootstrap specific attributes #}
	{% set listAttributes = listAttributes|merge({'dropdown': null, 'divider_prepend': null, 'divider_append': null }) %}
	
	{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
		{% if is_dropdown %}
			<ul{{ macros.attributes(listAttributes)}}>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					   {{ item.label }} test<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					{{ block('children') }}
					</ul>
				</li>
				
				<li class="divider-vertical"></li>
				
			</ul>
		{% else %}
			{{ parent() }}
		{% endif %}
	{% endif %}
{% endblock %}